<%- include('./partials/header.ejs'); %>
  <main>
    <div class="container">
      <form action="/tasks/new" method="post">
        <div class="form-group">
          <div>
            <label for="client">Client</label>
            <input type="text" name="client" id="client" />
          </div>
          <div>
            <label for="jobName">Job Name</label>
            <select name="jobName" id="jobName">
              <% jobs.forEach(job => { %>
                <option value="<%= job.name %>"><%= job.name %></option>
              <% }); %>
            </select>
          </div>
          <div>
            <label for="jobNumber">Job Number</label>
            <input type="text" name="jobNumber" id="jobNumber" />
          </div>
          <div>
            <label for="jobPanel">Job Panel</label>
            <input type="text" name="jobPanel" id="jobPanel" />
          </div>
          <div>
            <label for="jobTask">Job Task</label>
            <input type="text" name="jobTask" id="jobTask" />
          </div>
          <div>
            <label for="notes">Notes</label>
            <input type="dropdown" name="notes" id="notes" />
          </div>
          <div>
            <label for="completed">Completed</label>
            <select name="completed" id="completed">
              <option value="">Select Yes or No</option>
              <option value="True">Yes</option>
              <option value="False">No</option>
            </select>
          </div>
          <div>
            <label for="dueDate">Due Date</label>
            <input type="date" name="dueDate" id="dueDate" />
          </div>
          <div class="formSubmissionLinks">
            <input type="submit" value="Create task" />
            <a href="/">Cancel</a>
          </div>
        </div>
      </form>
    </div>
  </main>
  <%- include('./partials/footer.ejs'); %>
    </body>