<%- include('./partials/header.ejs'); %>
  <main>
    <div class="container mb-3">
      <div class="form-group">
        <form action="/tasks/new" method="post">
          <div>
            <label class="form-control-label" for="client">Client</label>
            <input class="form-control" type="text" name="client" id="client" />
          </div>
          <div>
            <label class="form-control-label" for="jobName">Job Name</label>
            <select class="custom-select" name="jobName" id="jobName">
              <% jobs.forEach(job => { %>
                <option value="<%= job.name %>"><%= job.name %></option>
              <% }); %>
            </select>
          </div>
          <div>
            <label class="form-control-label" for="jobNumber">Job Number</label>
            <input class="form-control" type="text" name="jobNumber" id="jobNumber" />
          </div>
          <div>
            <label class="form-control-label" for="jobPanel">Job Panel</label>
            <input class="form-control" type="text" name="jobPanel" id="jobPanel" />
          </div>
          <div>
            <label class="form-control-label" for="jobTask">Job Task</label>
            <input class="form-control" type="text" name="jobTask" id="jobTask" />
          </div>
          <div>
            <label class="form-control-label" for="notes">Notes</label>
            <input class="form-control" type="text" name="notes" id="notes" />
          </div>
          <div>
            <label class="form-control-label" for="completed">Completed</label>
            <select class="custom-select" name="completed" id="completed">
              <option value="">Select Yes or No</option>
              <option value="True">Yes</option>
              <option value="False">No</option>
            </select>
          </div>
          <div>
            <label class="form-control-label" for="dueDate">Due Date</label>
            <input class="form-control" type="date" name="dueDate" id="dueDate" />
          </div>
          <div class="formSubmissionLinks">
            <input type="submit" value="Create task" />
            <a href="/">Cancel</a>
          </div>
        </form>
      </div>
    </div>
  </main>
  <%- include('./partials/footer.ejs'); %>
    </body>